.challenge__forms-section {
  width: 100%;
}

.forms-section__call-to-action-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 41px;
  background-color: $basic-white;
  padding-top: 43px;

  @media (min-width: 660px) {
    min-height: 228px;
    padding-top: 90px;
    width: 520px;
    margin-bottom: 26px;
  }

  @media (min-width: 660px) {
    width: 760px;
    margin-bottom: 1px;
  }
}

.forms-section__call-to-action {
  padding: 0;
  margin: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: 660px) {
    font-size: 18px;
  }
}

.call-to-action__please-fill-form {
  display: none;

  @media (min-width: 660px) {
    display: inline;
  }
}

.forms-section__form {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 1200px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 936px;
    margin-left: auto;
    margin-right: auto;
  }
}

.form__personal-info {
  padding: 0;
  margin: 0;
  border: 0;

  @media (min-width: 660px) {
    order: 1;
  }
}

.personal-info__qustions-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
  margin-bottom: 43px;

  @media (min-width: 660px) {
    gap: 54px;
    margin-bottom: 67px;
  }

  @media (min-width: 1200px) {
    padding-top: 5px;
    gap: 54px;
    // margin-bottom: 67px;
  }
}

.personal-info__qustions-item {
  width: 280px;
  display: grid;
  gap: 12px;

  @media (min-width: 660px) {
    width: 620px;
    gap: 20px;
    align-items: center;
    grid-template-columns: max-content 1fr;
  }

  @media (min-width: 1200px) {
    width: 433px;
    gap: 18px;
    align-items: center;
    grid-template-columns: max-content 1fr;
  }

  p {
    padding: 0;
    margin: 0;
  }
}

.qustions-item__title {
  margin-left: 23px;

  @media (min-width: 660px) {
    margin-left: 0;
  }
}

.title {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $basic-red;
}

.personal-info__text-input {
  width: 278px;

  @media (min-width: 660px) {
    width: 100%;
  }
}

.text-input {
  border: 2px solid $dark-grey;
  // width: 278px;
  height: 61px;
  padding: 23px 20px;
  border-radius: 3px;

  &::placeholder {
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: 400;
    color: $basic-black;
    font-size: 18px;
  }

  &:hover {
    border-color: $dark-blue;
  }

  &:focus {
    border-color: $basic-red;
    outline: none;
  }
}

.form__achievement-info {
  margin: 0;
  padding: 36px 0 44px 0;
  background-color: $light-grey;
  border: 0;
  width: 100%;

  @media (min-width: 660px) {
    order: 4;
    background: none;
    border: 2px solid $dark-grey;
    width: 620px;
    padding: 0 0 49px 0;
    margin-bottom: 67px;
  }

  @media (min-width: 1200px) {
    width: 936px;
    padding: 0 0 57px 0;
  }
}

.achievement-info__title {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  width: 230px;
  background: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 38px;

  @media (min-width: 660px) {
    width: 440px;
    transform: translateY(-50%);
    background-color: $basic-white;
    margin-bottom: 35px;
  }
}

.achievement-info__qustions-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 47px;

  @media (min-width: 660px) {
    align-items: flex-start;
    padding-left: 60px;
  }

  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: 265px 265px 265px;
    row-gap: 47px;
    column-gap: 38px;
  }
}

.achievement-info__qustions-item {
  width: 280px;
  height: 35px;
  display: flex;
  align-items: center;
  padding-left: 57px;

  input {
    display: none;

    &:checked + label::after {
      display: block;
    }
  }

  @media (min-width: 1200px) {
    width: max-content;
  }

  label {
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    position: relative;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: -57px;
      top: -7px;
      width: 35px;
      height: 35px;
      background-color: $basic-white;
      border: 2px solid $dark-grey;
    }

    &::after {
      content: "";
      position: absolute;
      left: -49px;
      top: 3px;
      width: 22px;
      height: 16px;
      background-image: url("../img/elements/checked.svg");
      display: none;
    }

    &:hover::before {
      border: 2px solid $dark-blue;
    }

    &:active::before {
      border-color: $basic-red;
    }
  }
}

.form__contact-info {
  padding: 0;
  margin: 0;
  border: 0;
  padding-top: 40px;

  @media (min-width: 660px) {
    order: 3;
    width: 620px;
    border: 2px solid $dark-grey;
    padding-top: 0;
    border-radius: 3px;
    margin-bottom: 65px;
  }

  @media (min-width: 1200px) {
    width: 100%;
  }
}

.contact-info__fieldset-title {
  display: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 660px) {
    display: block;
    width: 260px;
    background-color: $basic-white;
    transform: translateY(-50%);
    margin-bottom: 25px;
  }
}

.contact-info__qustions-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
  margin-bottom: 45px;

  @media (min-width: 660px) {
    margin-bottom: 35px;
    gap: 35px;
  }

  @media (min-width: 1200px) {
    flex-direction: row;
    padding: 0 60px;
    justify-content: space-between;
    margin-bottom: 17px;
  }
}

.contact-info__qustions-item {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media (min-width: 660px) {
    width: 500px;
    flex-direction: column-reverse;
    gap: 16px;
  }

  @media (min-width: 1200px) {
    width: 370px;
  }
}

.contact-info__title {
  margin-left: 23px;

  @media (min-width: 660px) {
    margin-left: 19px;
  }
}

.contact-info__text-input-phone-wrapper {
  position: relative;
  padding: 0;
  margin: 0;

  &::before {
    content: "";
    display: none;
    position: absolute;
    width: 59px;
    height: 57px;
    background-color: $dark-grey;
    background-image: url("../img/elements/phone-icon.svg");
    background-repeat: no-repeat;
    background-size: 20px 19px;
    background-position: center center;
    z-index: 1001;
    right: 2px;
    top: 2px;

    @media (min-width: 660px) {
      display: block;
    }
  }
}

.contact-info__text-input-email-wrapper {
  position: relative;
  padding: 0;
  margin: 0;

  &::before {
    content: "";
    display: none;
    position: absolute;
    width: 59px;
    height: 57px;
    background-color: $dark-grey;
    background-image: url("../img/elements/mail-icon.svg");
    background-repeat: no-repeat;
    background-size: 20px 19px;
    background-position: center center;
    z-index: 1001;
    right: 2px;
    top: 2px;

    @media (min-width: 660px) {
      display: block;
    }
  }
}

.contact-info__text-input {
  width: 278px;

  @media (min-width: 660px) {
    width: 100%;
  }

  @media (min-width: 1200px) {
    width: 370px;
  }
}

// Форма "С каким приложением путешествовали?"

.form__app-ver-info {
  margin: 0;
  padding: 36px 0 41px 0;
  background-color: $light-grey;
  border: 0;
  width: 100%;

  @media (min-width: 660px) {
    order: 1;
    width: 620px;
    background: none;
    border: 2px solid $dark-grey;
    padding: 0 0 55px 0;
    border-radius: 3px;
    margin-bottom: 67px;
  }

  @media (min-width: 1200px) {
    width: 433px;
  }
}

.app-ver-info__title {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  width: 230px;
  background: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 38px;

  @media (min-width: 660px) {
    order: 1;
    width: 370px;
    background-color: $basic-white;
    transform: translateY(-50%);
    margin-bottom: 36px;
  }
}

.app-ver-info__qustions-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @media (min-width: 660px) {
    align-items: flex-start;
    padding-left: 60px;
  }

  @media (min-width: 660px) {
    padding-left: 73px;
  }
}

.app-ver-info__qustions-item {
  width: 280px;
  height: 35px;
  display: flex;
  align-items: center;
  padding-left: 70px;

  @media (min-width: 660px) {
    padding-left: 59px;
  }

  input {
    display: none;

    &:checked + label::after {
      display: block;
    }
  }

  label {
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    position: relative;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: -70px;
      top: -7px;
      width: 37px;
      height: 37px;
      border-radius: 50%;
      background-color: $basic-white;
      border: 2px solid $dark-grey;

      @media (min-width: 660px) {
        left: -60px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: -57px;
      top: 6px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $basic-red;
      display: none;

      @media (min-width: 660px) {
        left: -47px;
      }
    }

    &:hover::before {
      border: 2px solid $dark-blue;
    }

    &:active::before {
      border-color: $basic-red;
    }
  }
}

.form__feedback {
  padding: 0;
  margin: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 37px;
  margin-bottom: 51px;

  @media (min-width: 660px) {
    order: 5;
    width: 620px;
    border: 2px solid $dark-grey;
    padding: 0 60px 50px 60px;
    margin: 0 0 68px 0;
  }

  @media (min-width: 1200px) {
    width: 938px;
    padding: 0 57px 45px 57px;
    margin: 0 0 65px 0;
  }
}

.feedback__title {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  width: 230px;
  background: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 17px;

  @media (min-width: 660px) {
    width: 260px;
    background-color: $basic-white;
    transform: translateY(-50%);
    margin-bottom: 26px;
  }

  @media (min-width: 660px) {
    width: 260px;
    background-color: $basic-white;
    transform: translateY(-50%);
    margin-bottom: 23px;
  }
}

.feedback__text-input {
  width: 276px;
  height: 193px;
  padding: 15px 18px;

  @media (min-width: 660px) {
    width: 100%;
  }

  @media (min-width: 660px) {
    height: 125px;
  }
}

.form__button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 660px) {
    order: 6;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 620px;
    margin-bottom: 37px;
  }

  @media (min-width: 1200px) {
    width: 938px;
    margin-bottom: 0;
  }
}

.form-button {
  margin: 0;
  padding: 0;
  width: 280px;
  height: 63px;
  background-color: $button-green;
  border: 2px solid $button-green;
  border-radius: 3px;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  color: $basic-white;
  cursor: pointer;

  &:hover {
    background-color: $button-dark-green;
  }

  &:active {
    color: $basic-white-03;
  }

  &:disabled {
    background-color: $dark-grey;
    border-color: $dark-grey;
    cursor: auto;
  }

  @media (min-width: 660px) {
    width: 300px;
  }
}

.form__legend {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  padding: 25px 0 0 0;
  text-align: center;

  @media (min-width: 660px) {
    padding: 0;
    margin: 0;
  }
}

.legend__star {
  color: $basic-red;
}

.legend__full-text {
  display: none;

  @media (min-width: 1200px) {
    display: inline;
  }
}
