.pictures-section__call-to-action-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 184px;
  width: 77%;
  margin-left: auto;
  margin-right: auto;
  background-color: $basic-white;
  padding-top: 43px;

  @media (min-width: 660px) {
    min-height: 228px;
    padding-top: 90px;
    width: 520px;
  }

  @media (min-width: 1200px) {
    width: 580px;
    margin-bottom: 10px;
  }
}

.pictures-section__call-to-action {
  padding: 0;
  margin: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: 660px) {
    font-size: 18px;
  }
}

.pictures-section__exemple-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 660px) {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100vw;
  }

  @media (min-width: 1200px) {
    column-gap: 20px;
    row-gap: 52px;
  }
}

.pictures-section__exemple {
  margin: 0;
  padding: 0;
  overflow: hidden;

  @media (min-width: 660px) {
    width: 300px;
    min-height: 455px;

    &:first-child {
      width: 100%;
      margin-bottom: 30px;

      @media (min-width: 1200px) {
        margin-bottom: 0;
      }
    }
  }

  @media (min-width: 1200px) {
    min-height: 555px;
  }
}

.exemple__panorama-holder {
  margin: 0;
  padding: 0;
  height: 137px;
  display: flex;
  justify-content: center;

  img {
    @media (min-width: 660px) {
      width: 660px;
      height: 509px;
    }

    @media (min-width: 1200px) {
      width: 1200px;
      height: 506px;
    }
  }

  @media (min-width: 660px) {
    height: 509px;
  }

  @media (min-width: 1200px) {
    height: 505px;
    width: 100vw;
  }
}

.panorama-description {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding: 21px 10px 20px 17px;
  background-color: $light-grey;
  margin-top: -5px;

  @media (min-width: 660px) {
    width: 620px;
    min-height: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 30px 25px 30px;
  }

  @media (min-width: 1200px) {
    width: 940px;
    padding: 28px 30px 25px 28px;
    min-height: 100px;
  }
}

.panorama-description__name-wrapper {
  display: flex;
  align-items: center;
  gap: 3px;
}

.panorama-description__name {
  padding: 0;
  margin: 0;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.panorama-description__added-time {
  color: $dark-blue;
  padding: 0;
  margin: 0;
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.panorama-description__text-wrapper {
  margin-bottom: 11px;

  @media (min-width: 660px) {
    order: 3;
    margin-bottom: 0;
  }

  @media (min-width: 1200px) {
    order: 3;
  }
}

.panorama-description__text {
  color: $dark-blue;
  padding: 0;
  margin: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.panorama-description__likes {
  padding: 0;
  margin: 0;
  color: $basic-red;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;

  @media (min-width: 660px) {
    padding-right: 30px;
  }

  @media (min-width: 1200px) {
    padding-top: 0;
  }

  &::before {
    content: "";
    width: 13px;
    height: 12px;
    top: 50%;
    transform: translateY(-60%);
    left: 0;
    position: absolute;
    background-image: url("../img/elements/heart.svg");

    @media (min-width: 660px) {
      left: auto;
      right: 0;
    }
  }
}

.exemple__photo-holder {
  margin: 0;
  padding: 0;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  img {
    @media (min-width: 660px) {
      width: 300px;
      height: 300px;
    }

    @media (min-width: 1200px) {
      width: 300px;
      height: 400px;
    }
  }

  @media (min-width: 660px) {
    width: 300px;
    height: 300px;
    margin-right: none;
    margin-left: none;
  }

  @media (min-width: 1200px) {
    height: 400px;
  }
}

.exemple__description {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding: 19px 10px 18px 17px;
  background-color: $light-grey;
  margin-top: -5px;

  @media (min-width: 660px) {
    width: 100%;
    min-height: 155px;
    padding: 28px 30px 23px 30px;
  }

  @media (min-width: 1200px) {
    height: 160px;
  }
}

.description__name-wrapper {
  display: flex;
  align-items: center;
  gap: 3px;
}

.description__name {
  padding: 0;
  margin: 0;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.description__added-time {
  color: $dark-blue;
  padding: 0;
  margin: 0;
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.description__text-wrapper {
  margin-bottom: 11px;

  @media (min-width: 660px) {
    min-height: 47px;
  }
}

.description__text {
  color: $dark-blue;
  padding: 0;
  margin: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.description__likes {
  padding: 0;
  margin: 0;
  color: $basic-red;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  position: relative;
  padding-left: 30px;
  cursor: pointer;

  @media (min-width: 660px) {
    padding-left: 0;
  }

  &::before {
    content: "";
    width: 13px;
    height: 12px;
    top: 50%;
    transform: translateY(-60%);
    left: 0;
    position: absolute;
    background-image: url("../img/elements/heart.svg");

    @media (min-width: 660px) {
      left: auto;
      right: 0;
    }
  }
}

.likes--active::before {
  background-image: url("../img/elements/heart-liked.svg");
}

.pictures-section__call-to-action-bottom-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 45px;
  padding-bottom: 43px;
  background-color: $basic-white;

  @media (min-width: 660px) {
    padding-top: 65px;
    padding-bottom: 70px;
    width: 425px;
  }

  @media (min-width: 1200px) {
    padding-top: 58px;
    padding-bottom: 70px;
    width: 425px;
  }
}

.pictures-section__call-to-action-bottom {
  padding: 0;
  margin: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: 660px) {
    font-size: 18px;
  }
}
