.galery__pictures-section {}

.pictures-section__call-to-action-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 184px;
  width: 77%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding-top: 43px;

  @media (min-width: 660px) {
    min-height: 228px;
    padding-top: 90px;
    width: 520px;
  }
}

.pictures-section__call-to-action {
  padding: 0;
  margin: 0;
  font-family: OpenSans;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: 660px) {
    font-size: 18px;
  }
}

.pictures-section__exemple-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 660px) {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100vw;
  }
}

.pictures-section__exemple {
  margin: 0;
  padding: 0;
  overflow: hidden;

  @media (min-width: 660px) {
    width: 300px;
    min-height: 455px;


    &:first-child {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}

.exemple__panorama-holder {
  margin: 0;
  padding: 0;
  height: 137px;
  display: flex;
  justify-content: center;


  @media (min-width: 660px) {
    height: 509px;
  }
}

.panorama-description {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding: 19px 10px 18px 17px;
  background-color: rgba(242, 242, 242, 1);
  margin-top: -5px;

  @media (min-width: 660px) {
    width: 620px;
    min-height: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 30px 25px 30px;
  }
}

.panorama-description__name-wrapper {
  display: flex;
  align-items: center;
  gap: 3px;
}

.panorama-description__name {
  padding: 0;
  margin: 0;
  font-family: OpenSansBold;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.panorama-description__added-time {
  color: rgba(40, 54, 69, 1);
  padding: 0;
  margin: 0;
  font-family: OpenSansLight;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.panorama-description__text-wrapper {
  margin-bottom: 11px;

  @media (min-width: 660px) {
    order: 3;
    margin-bottom: 0;
  }
}

.panorama-description__text {
  color: rgba(40, 54, 69, 1);
  padding: 0;
  margin: 0;
  font-family: OpenSans;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.panorama-description__likes {
  padding: 0;
  margin: 0;
  color: rgba(210, 40, 86, 1);
  font-family: OpenSans;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  position: relative;
  padding-left: 30px;
  cursor: pointer;

  @media (min-width: 660px) {
    padding-right: 30px;
  }

  &::before {
    content: "";
    width: 13px;
    height: 12px;
    top: 50%;
    transform: translateY(-60%);
    left: 0;
    position: absolute;
    background-image: url(../img/elements/heart.svg);

    @media (min-width: 660px) {
      left: auto;
      right: 0;
    }
  }
}

.exemple__photo-holder {
  margin: 0;
  padding: 0;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @media (min-width: 660px) {
    width: 300px;
    height: 300px;
    margin-right: none;
    margin-left: none;
  }
}

.exemple__description {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding: 19px 10px 18px 17px;
  background-color: rgba(242, 242, 242, 1);
  margin-top: -5px;

  @media (min-width: 660px) {
    width: 100%;
    height: 100%;
    padding: 30px 30px 23px 30px;
  }
}

.description__name-wrapper {
  display: flex;
  align-items: center;
  gap: 3px;
}

.description__name {
  padding: 0;
  margin: 0;
  font-family: OpenSansBold;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.description__added-time {
  color: rgba(40, 54, 69, 1);
  padding: 0;
  margin: 0;
  font-family: OpenSansLight;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.description__text-wrapper {
  margin-bottom: 11px;

  @media (min-width: 660px) {
    min-height: 47px;
  }
}

.description__text {
  color: rgba(40, 54, 69, 1);
  padding: 0;
  margin: 0;
  font-family: OpenSans;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.description__likes {
  padding: 0;
  margin: 0;
  color: rgba(210, 40, 86, 1);
  font-family: OpenSans;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  position: relative;
  padding-left: 30px;
  cursor: pointer;

  @media (min-width: 660px) {
    padding-left: 0px;
  }

  &::before {
    content: "";
    width: 13px;
    height: 12px;
    top: 50%;
    transform: translateY(-60%);
    left: 0;
    position: absolute;
    background-image: url(../img/elements/heart.svg);

    @media (min-width: 660px) {
      left: auto;
      right: 0;
    }
  }
}

.pictures-section__call-to-action-bottom-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 45px;
  padding-bottom: 43px;
  background-color: #fff;

  @media (min-width: 660px) {
    padding-top: 65px;
    padding-bottom: 70px;
    width: 425px;
  }
}

.pictures-section__call-to-action-bottom {
  padding: 0;
  margin: 0;
  font-family: OpenSans;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: 660px) {
    font-size: 18px;
  }
}
