.page-content__main-title-section {
  min-height: 237px;
  width: 100%;
  padding-top: 92px;
  background-image: url("../img/background.jpg");
  background-position: 50% 0;
  background-size: 140%;
  color: $basic-white;

  @media (min-width: 660px) {
    min-height: 440px;
    padding-top: 177px;
  }

  @media (min-width: 1200px) {
    min-height: 395px;
    padding-top: 170px;
  }
}

.main-title-section__main-title-wrapper {
  text-align: center;
}

.main-title-section__main-title {
  padding: 0;
  margin: 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: "OpenSansLight", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;

  @media (min-width: 660px) {
    font-size: 50px;
    line-height: 68px;
  }

  @media (min-width: 1200px) {
    font-size: 50px;
    width: 750px;
  }
}
