.price-section {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 102px;
  padding-bottom: 44px;
  width: 100%;

  @media (min-width: 660px) {
    padding-top: 95px;
    padding-bottom: 25px;
  }

  @media (min-width: 1200px) {
    padding-top: 157px;
    padding-bottom: 57px;
  }

  &::before {
    box-sizing: border-box;
    content: "";
    position: absolute;
    top: 0;
    border-right: 100vw solid transparent;
    border-top: 20px solid $basic-white;
    z-index: 1001;

    @media (min-width: 660px) {
      border-top: 40px solid $basic-white;
    }

    @media (min-width: 1200px) {
      border-top: 99px solid $basic-white;
    }
  }
}

.price-section__price-table-wrapper {
  margin: 0 20px 40px 20px;
}

.price-table {
  width: 828px;
  border-collapse: collapse;
  box-sizing: border-box;

  @media (min-width: 660px) {
    width: 620px;
  }

  @media (min-width: 1200px) {
    width: 940px;
  }

  .price-table__first-row {
    height: 94px;

    @media (min-width: 660px) {
      height: 75px;
    }

    @media (min-width: 1200px) {
      height: 94px;
    }

    .price-table__row-title {
      visibility: hidden;
      border: none;
    }
  }

  .price-table__column-title {
    position: relative;
    background-color: $dark-blue;
    border: 2px solid $dark-blue;
    color: $basic-white;
    text-align: center;
    min-height: 94px;
    border-right: 2px solid $light-grey;
    padding-bottom: 12px;

    &:last-child {
      border-right: 2px solid $dark-blue;
    }

    @media (min-width: 660px) {
      padding-bottom: 0;
    }

    p:first-child {
      margin: 0;
      padding: 0;
      font-family: "OpenSansBold", sans-serif;
      font-size: 16px;
      line-height: 30px;

      @media (min-width: 1200px) {
        font-size: 18px;
      }
    }

    p:last-child {
      margin: 0;
      padding: 0;
      font-family: "OpenSansLight", sans-serif;
      font-size: 18px;
      line-height: 30px;

      @media (min-width: 1200px) {
        font-size: 24px;
      }
    }
  }

  .price-table__row-title {
    display: none;

    @media (min-width: 660px) {
      display: table-cell;
    }

    @media (min-width: 1200px) {
      font-size: 18px;
    }
  }

  tr:not(.price-table__first-row) {
    height: 61px;

    @media (min-width: 660px) {
      height: 48px;
    }

    @media (min-width: 1200px) {
      height: 61px;
    }
  }

  td {
    width: 276px;
    border: 2px solid $dark-grey;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $basic-white;
    text-transform: uppercase;
    font-size: 14px;

    @media (min-width: 660px) {
      width: 153px;
      padding-left: 15px;
      padding-right: 15px;
      text-transform: capitalize;
    }
  }
}

.hit {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -2px;
    width: 74px;
    height: 74px;
    background-image: url("../img/elements/hit.svg");
    background-size: contain;

    @media (min-width: 660px) {
      width: 61px;
      height: 61px;
    }

    @media (min-width: 1200px) {
      width: 74px;
      height: 74px;
    }
  }
}

.price-section__td-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 660px) {
    justify-content: center;
  }

  p {
    @media (min-width: 660px) {
      display: none;
    }
  }
}

.price-section__pagination-wrapper {
  width: 320px;

  @media (min-width: 660px) {
    display: none;
  }
}

.price-section__pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 19px;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.pagination-item__point {
  width: 6px;
  height: 6px;
  background-color: $dark-blue-03;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: $dark-blue-06;
  }

  &:active {
    background-color: $dark-blue-01;
  }
}

.pagination-item__point--current {
  width: 12px;
  height: 12px;
  background-color: $basic-white;
  border-radius: 50%;
  border: 3px solid $basic-black;
}
