.review-section {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding-top: 40px;
  padding-bottom: 35px;
  z-index: 1000;
  margin-top: -45px;
  width: 100%;

  @media (min-width: 660px) {
    margin-top: 0;
    padding-top: 100px;
    padding-bottom: 19px;
  }

  @media (min-width: 1200px) {
    margin-top: 0;
    padding-top: 186px;
    padding-bottom: 0px;
  }
}

.review-section__text-wrapper {
  order: 2;
  margin-bottom: 31px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @media (min-width: 660px) {
    order: 0;
    width: 620px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
  }

  @media (min-width: 660px) {
    width: 700px;
  }
}

.review-section__text {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: OpenSans;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: 660px) {
    font-size: 18px;
  }

  &::before {

    @media (min-width: 1200px) {
      content: "";
      position: absolute;
      top: -113px;
      left: calc(50% - 40px);
      width: 79px;
      height: 63px;
      background-image: url(../img/elements/quotes.svg);
    }
  }
}

.review-section__slider-changing-button {
  width: max-content;
  height: max-content;
  position: absolute;
  display: none;
  top: 30%;
  cursor: pointer;
  fill: rgba(40, 54, 69, 0.3);

  &:hover {
    fill: rgba(40, 54, 69, 0.6);
  }

  &:active {
    fill: rgba(40, 54, 69, 0.1);
  }

  @media (min-width: 1200px) {
    display: block;
  }
}

.review-section__slider-prev-button {
  left: -120px;
}

.review-section__slider-next-button {
  right: -122px;
}

.review-section__name-wrapper {
  text-align: center;
  margin-bottom: 15px;
}

.review-section__reviewer-name {
  margin: 0;
  padding: 0;
  font-family: OpenSansBold;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: 660px) {
    font-size: 20px;
  }

  @media (min-width: 1200px) {
    font-size: 24px;
  }
}

.review-section__reviewer-info {
  margin: 0;
  padding: 0;
  font-family: OpenSans;
  font-size: 14px;
  line-height: 30px;
  display: none;

  @media (min-width: 660px) {
    display: block;
    margin-bottom: 20px;
  }

  @media (min-width: 1200px) {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

.review-section__pagination-wrapper {
  order: 3;

  @media (min-width: 1200px) {
    display: none;
  }
}

.review-section__pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 19px;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.pagination-item__point {
  width: 6px;
  height: 6px;
  background-color: rgba(40, 54, 69, 0.3);
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: rgba(40, 54, 69, 0.6);
  }

  &:active {
    background-color: rgba(40, 54, 69, 0.1);
  }
}

.pagination-item__point--current {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 3px solid black;
}


